html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', serif;
}
/* ------------ HEADER ------------*/
header {
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  border-bottom: 1px solid #191919;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 1s;
}

nav {
  width: 40%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  padding-inline-start: 0;
  margin-inline-start: 0;
  list-style: none;
}

nav ul li {
  cursor: pointer;
}

button {
  background-color: #191919;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  transition: all 1s;
  cursor: pointer;
}

/* ------------ MAIN --------------*/

#heroSection {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  padding: 0 0 0 8%;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Spectral', serif;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: -5px;
  margin: 0;
}

p {
  width: 70%;
}

#startReading {
  width: 35%;
  height: 2.5em;
  border-radius: 10%/50%;
  margin-top: 2em;
  font-size: 0.8em;
}

#titoloTrends {
  display: flex;
  align-items: center;
  padding: 0 8%;
  font-size: smaller;
}

#trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 8%;
  font-size: 0.9em;
  border-bottom: 1px solid #191919;
  margin-bottom: 50px;
}

.trends {
  padding: 5px 35px;
  position: relative;
  width: 25%;
  height: 180px;
  
}

.author {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 0.9em;
  margin-left: 15px;
  cursor:pointer;
}

.author img {
  border-radius: 50%;
  width: 25px;
}

.number {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 2.5em;
  font-weight: 900;
  color: #e5e6e5;
  margin: 0;
}

.newsName{
    display: flex;
    align-items: stretch;
    margin-left: 15px;
    cursor:pointer;
}

.newsDate {
  color: gray;
  letter-spacing: 0;
  display: flex;
  align-items: end;
  margin-left: 15px;
  }
